:root {
    --blue: #0061A0;
    --light-blue: #00A7D4;
    --black: #000000;
    --grey: #D9D9D9;
    --dark-grey: #a9a9a9;
    --white: #FFFFFF;
}

img {
    max-width: 100%;  
    height: auto;     
    display: block;   
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: var(--white);
    max-width: 100%;
    padding: 20px;
    margin: 0;
}



.header img{
    margin: 0 auto;
}

.header h1 {
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    margin-top: -20px;
    font-size: 20px;
}

.header {
    margin-bottom: 60px;
}

h2 {
    font-size: 16px;
    margin-bottom: 0;
    font-weight: 900;
}

p {
    margin-top: 0;
    margin-bottom: 25px;
}

.button {
    border: none;
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    background-color: var(--light-blue);
    display: block;
    width: 60%;
    text-align: center; 
    margin: 0px auto;
    border-radius: 8px;
    padding: 10px;
    font-family: "Nunito", sans-serif;
    box-shadow: 2px 2px 5px var(--dark-grey);
    cursor: pointer;
}

.name {
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--light-blue);
    background-color: var(--grey);
}

.name:focus {
    background-color: var(--white);
    outline: 1px solid var(--light-blue);
}
 
.step {
    margin-top: 45px;
} 


#file-name {
    text-align: center;
    margin-top: 10px;
}

#file-name span {
    font-weight: 700;
}


@media (min-width: 720px) {
    body {
        background-color: var(--grey);
        height: 100vh;
    }
    
    .container {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 400px;
        box-shadow: 5px 5px 5px var(--dark-grey);
        border-radius: 20px;
        max-width: 600px;
        width: 90%;
    }

    .step {
        margin-top: 40px;
    }
    .header {
        margin-bottom: 10px;
    }
}


.alert {
    text-align: center;
    margin-top: 10px;
    color: var(--white);
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

.error {
    background-color: rgb(195, 32, 32);
}

.correct {
    background-color: rgb(22, 145, 22);
}